# Ambienti Virtuali
venv/
.venv/
env/
.env
.env.dev
*.log 

# File di configurazione locale
credentials.json
newsletter.db
*.db-journal

# File di cache di Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File di cache del sistema operativo
.DS_Store
Thumbs.db

# File di cache di VS Code
.vscode/

# File di deploy
.vercel/

backend/user_credentials.json
data/user_credentials.json
*.pem
*.key
*.p12backend/credentials.json

/worker.txt
/ingestor.txt
/backend.txt
/backend/worker.txt
/backend/backend.txt
/backend/ingestor.txt

*.log
# secrets
/data/
credentials.json
user_credentials.json
